:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

.card {
  width: 200px;
}
.prod .card {
  border-color: transparent;
  transition: all 1s linear;
}
.prod .card-footer {
  background: transparent;
  border-top: transparent;
  transition: all 1s linear;
}

.prod .card:hover {
  border: 0.04rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.prod .card-footer:hover {
  background: rgba(247, 247, 247);
}
.img-container {
  position: relative;
  overflow: hidden;
}
.card-img-top {
  transition: all 1s linear;
}
.img-container:hover .card-img-top {
  transform: scale(1.8);
}
.ht {
  margin-top: 100px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--mainBlue);
  text-transform: inherit;
  font-weight: 800;
  text-transform: uppercase;
}
.h {
  color: #ffa400 !important;
}
.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  /* margin-right: 20px; */
  border: none;
  background: var(--lightBlue);
  color: var(--mainWhite);
  font-size: 1.4rem;
  border-radius: 0.5rem 0 0 0;
  transform: translate(100%, 100%);
}
.img-container:hover .cart-btn {
  transform: translate(0, 0);
  cursor: pointer;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Oswald", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--mainWhite) !important;
  color: var(--mainYellow) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-title {
  font-family: "Permanent Marker', cursive";
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.details {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.4rem;
  color: #2a2a72;
}
.text-blue {
  color: var(--mainBlue);
}
.text-light {
  color: var(--lightBlue);
}
.ll {
  list-style: none;
  color: #f3f3f3;
}
.li:hover {
  color: #ffa400 !important;
}
.btn-y {
  text-transform: capitalize;
  font-size: 1.4rem;
  background: transparent;
  border: 0.2rem solid var(--lightBlue);
  border-color: var(--mainYellow);
  color: var(--mainYellow);

  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: all 0.5s ease-in-out;
}
.btn-y:hover {
  background: var(--mainYellow);
  color: var(--mainBlue);
}
.btn-y:focus {
  outline: none;
}
